#fd_br{
	float: left;
	width: 100%;
	height: 100%;
	margin-top: -5px;
	background-color: #efefef;
}

#fd_br label{
	float: left;
}

#menu_editor{
	float: left;
	width: 400px;
}

#formulario{
	float: left;
	width: 30%;
	margin-left: 5%;
	margin-bottom: 271px;
}

#formulario h4{
	float: right;
	margin-bottom: 30px;
}

#formulario button{
	float: left;
}

#formulario a{
	float: left;
	margin-left: 10px;
}