#fd_br{
	float: left;
	width: 100%;
	height: 100%;
	margin-top: -5px;
	background-color: #efefef;
}

#menu_editor{
	float: left;
	width: 400px;
}

#postagem{
	float:left;
	width: 60%;
}

#postagem form{
	width: 100%;
	height:90%;
	margin-top: 20px;
}

#postagem label{
	float:left;
	margin-top: 20px;
	size: 50px;
}

#postagem input{
	float: right;
	width: 50%;
	margin-right:35%;
	margin-bottom:10px;
}

#postagem textarea{
	float: right;
	width: 600px;
	height: 800px;
	margin-top:20px;
	margin-right:35%;
	margin-bottom:10px;
}

#sel1{
	float: right;
	width: 50%;
	margin-right:35%;
	margin-bottom:10px;
}

#postagem #B{
	float: left;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 11%;
	padding: 5px 20px 5px 20px;
	color: white;
}